/.vs
/Esp32/bin/
/Esp32/obj/
/Esp32/bin
/Esp32/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Esp32/obj/Debug/net8.0-windows/App.g.cs
/Esp32/obj/Debug/net8.0-windows/App.g.i.cs
/Esp32/obj/Debug/net8.0-windows/Esp32.AssemblyInfo.cs
/Esp32/obj/Debug/net8.0-windows/Esp32.AssemblyInfoInputs.cache
/Esp32/obj/Debug/net8.0-windows/Esp32.GeneratedMSBuildEditorConfig.editorconfig
/Esp32/obj/Debug/net8.0-windows/Esp32.GlobalUsings.g.cs
/Esp32/obj/Debug/net8.0-windows/Esp32.assets.cache
/Esp32/obj/Debug/net8.0-windows/Esp32.csproj.AssemblyReference.cache
/Esp32/obj/Debug/net8.0-windows/Esp32.csproj.CoreCompileInputs.cache
/Esp32/obj/Debug/net8.0-windows/Esp32.csproj.FileListAbsolute.txt
/Esp32/obj/Debug/net8.0-windows/Esp32.csproj.Up2Date
/Esp32/obj/Debug/net8.0-windows/Esp32.designer.deps.json
/Esp32/obj/Debug/net8.0-windows/Esp32.designer.runtimeconfig.json
/Esp32/obj/Debug/net8.0-windows/Esp32.dll
/Esp32/obj/Debug/net8.0-windows/Esp32.g.resources
/Esp32/obj/Debug/net8.0-windows/Esp32.genruntimeconfig.cache
/Esp32/obj/Debug/net8.0-windows/Esp32.pdb
/Esp32/obj/Debug/net8.0-windows/Esp32.sourcelink.json
/Esp32/obj/Debug/net8.0-windows/Esp32_MarkupCompile.cache
/Esp32/obj/Debug/net8.0-windows/Esp32_MarkupCompile.i.cache
/Esp32/obj/Debug/net8.0-windows/Esp32_MarkupCompile.i.lref
/Esp32/obj/Debug/net8.0-windows/Esp32_MarkupCompile.lref
/Esp32/obj/Debug/net8.0-windows/Esp32_lwgerwar_wpftmp.AssemblyInfo.cs
/Esp32/obj/Debug/net8.0-windows/Esp32_lwgerwar_wpftmp.AssemblyInfoInputs.cache
/Esp32/obj/Debug/net8.0-windows/Esp32_lwgerwar_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Esp32/obj/Debug/net8.0-windows/Esp32_lwgerwar_wpftmp.GlobalUsings.g.cs
/Esp32/obj/Debug/net8.0-windows/Esp32_lwgerwar_wpftmp.assets.cache
/Esp32/obj/Debug/net8.0-windows/Esp32_lwgerwar_wpftmp.sourcelink.json
/Esp32/obj/Debug/net8.0-windows/MainWindow.baml
/Esp32/obj/Debug/net8.0-windows/MainWindow.g.cs
/Esp32/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/Esp32/obj/Debug/net8.0-windows/apphost.exe
/Esp32/obj/Debug/net8.0-windows/ref/Esp32.dll
/Esp32/obj/Debug/net8.0-windows/refint/Esp32.dll
/Esp32/obj/Esp32.csproj.nuget.dgspec.json
/Esp32/obj/Esp32.csproj.nuget.g.props
/Esp32/obj/Esp32.csproj.nuget.g.targets
/Esp32/obj/project.assets.json
/Esp32/obj/project.nuget.cache
